{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    [
      "babel-plugin-webpack-alias-7",
      {
        "config": "./webpack/webpack.base.js"
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ]
  ]
}
